$color-background= #f4f4f4
$color-green= #1E90FF
$color-background-w= #fff
$color-text-b= #fff
$color-text= #222
$color-text-h= rgba(0,0,0,0.6)
$font-size-medium=16px
$color-text-c1 = rgba(255, 255, 255, 0.5)
$color-text-c2 = rgba(255, 255, 255, 0.8)
